@font-face {
    font-family: 'Candara Bold';
    src: url('../fonts/candara-bold.ttf');
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url('../fonts/helvetica-bold.otf');
}

@font-face {
    font-family: 'Helvetica Regular';
    src: url('../fonts/helvetica-regular.otf');
}

@font-face {
    font-family: 'Leto Sans';
    src: url('../fonts/LetoSans.otf');
}

@font-face {
    font-family: 'Leto Sans Bold';
    src: url('../fonts/LetoSans-Bold.otf');
}
/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body {
    width: 100vw;
}
body {
    font-family: "Leto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #3d3d3d;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a, a:hover {
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
}

h1  {
    font-family: 'Helvetica Bold', sans-serif;
    font-size: 42px;
    line-height: 1.1;
    color: #1c1c1c;
    position: relative;
    margin-bottom: 50px;
}

h2 {
    font-family: 'Helvetica Bold', sans-serif;
    font-size: 32px;
    line-height: 1.26;
    color: white;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: #4587dd;
    position: relative;
    width: max-content;
    margin-bottom: 60px;
    &:before {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 15px;
        z-index: -1;
        border-radius: 50px;
        background-color: #e2e2ec;
    }
}

.p--bold {
    font-family: 'Leto Sans Bold', sans-serif;
    font-size: 17px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 11;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 1px 18px 18px -5px rgba(246,247,248,1);
    height: 92px;
    width: 100%;
    background-color: white;

    .header__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #2e3353;
    font-size: 27px;
    font-family: 'Candara Bold', sans-serif;
    span {
        background-color: #ffcf25;
        border-radius: 30px;
        padding: 4px 20px;
        transition: all 0.5s ease;
    }
    &:hover span {
        background-color: #4587dd;
        color: white;
    }
}

nav ul {
    display: flex;
    li {
        margin: 0 35px;
        a {
            color: #00293b;
            font-family: 'Helvetica Regular', sans-serif;
            transition: all 0.5s ease;
            &:hover {
                color: #4587dd;
            }
        }
    }
}

.menu-icon, .close-menu {
    display: none;
}

.button {
    font-family: 'Helvetica Bold', sans-serif;
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcf25;
    border-radius: 30px;
    color: #2e3353;
    transition: all 0.5s ease;
    &:hover {
        background-color: #4587dd;
        color: white;
    }
    &.button--transparent {
        background-color: transparent;
        border: 2px solid #ffcf25;
        &:hover {
            border: 2px solid #4587dd;
            color: #4587dd;
        }
    }
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    .menu-icon {
        margin-left: 25px;
    }
}

.login--mobile {
    display: none;
}

.main-screen {
    background-image: url("../img/main-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    min-height: calc(100vh - 92px);
    margin-top: 92px;
    .button-box {
        justify-content: flex-start;
        .button {
            margin-right: 12px;
        }
    }
}

.content {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    width: 100%;
    .content__column {
        width: 50%;
    }
    h1, p {
        max-width: 580px;
    }
}

.main-img {
    width: 100%;
    transform: translateX(-20%);
    img {
        width: 100%;
    }
}

.advantages-block {
    display: flex;
    margin: 40px 0 50px;
    .advantages__item {
        margin-right: 54px;
    }
}

.possibility {
    padding-left: 45px;
}

ul {
    list-style: none;
    margin: 25px 0;
    li {
        font-family: 'Leto Sans', sans-serif;
        font-size: 17px;
        padding-left: 30px;
        position: relative;
        margin-bottom: 14px;
        &:before {
            content: url("../img/chek.png");
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.services {
    .content {
        padding-bottom: 0;
    }
}

@media (max-width: 1366px) {
    .main-img {
        transform: translateX(0);
    }
}


@media (max-width: 1200px) {
    h1 {
        font-size: 36px;
    }
    p {
        font-size: 15px;
    }
    nav ul li {
        margin: 0 20px;
        font-size: 14px;
    }
}


@media (max-width: 990px) {
    .menu-icon, .close-menu {
        display: flex;
    }

    .close-menu {
        position: absolute;
        top: 35px;
        right: 35px;
    }

    nav {
        transform: translateX(100%);
        width: 100vw;
        height: 100vh;
        background-color: white;
        opacity: 0;
        transition: all 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        padding: 60px 35px;
        box-sizing: border-box;
        ul {
            flex-direction: column;
            li {
                margin: 0 35px;
                margin-bottom: 25px;
                a {
                    font-size: 18px;
                }
            }
        }
        &.show {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .content {
        flex-direction: column;
        .content__column {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    .content h1, .content p {
        text-align: center;
    }

    .advantages-block {
        justify-content: space-around;
        width: 100%;
        max-width: 500px;
        .advantages__item {
            margin: 0;
            &.ml-align {
                margin-left: 40px;
            }
        }
    }

    .main-img {
        max-width: 500px;
        margin-top: 40px;
    }

    .services-img {
        align-self: flex-end;
        transform: translateX(25%);
        img {
            width: 100%;
        }
    }

    .possibility {
        padding-left: 0;
    }
}

@media (max-width: 540px) {
    .button-box {
        .menu-icon {
            margin-left: 15px;
        }
    }


    .login--mobile {
        display: flex;
        padding: 5px 15px;
        img {
            width: 20px;
        }
    }

    .login--desktop {
        display: none;
    }

    .logo {
        font-size: 18px;
    }

    header {
        height: 70px;
    }

    .main-screen {
        margin-top: 70px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .advantages-block {
        justify-content: space-between;
        width: 100%;
        max-width: 500px;
        .advantages__item {
            margin: 0;
            padding: 10px;
            &.ml-align {
                margin-left: 10px;
            }
        }
    }

    .main-screen .button-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .button {
            margin: 0;
            margin-bottom: 12px;
            min-width: 100%;
        }
    }
}
